@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
button, input{
    font-family: inherit
}
img{
    display: block;
    max-width: 100%;
}
.navbar-links:hover > * {
    color: #00A3FF;
}
/* .popular-arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 0; 
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 20px solid green;
} */
.gradient-text{
    background-image: linear-gradient(130deg, #73CDFF, #00456B);
    background-clip: text;
    color: transparent;
}
.home-container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 90vw;
    height: 90vh;
    z-index: -1;
    background-color: #FF6868;
    opacity: 0.1;
}
.home-image{
    box-shadow: 10px 11px 101px 13px rgba(115,205,255,0.75);
    -webkit-box-shadow: 10px 11px 101px 13px rgba(115,205,255,0.75);
    -moz-box-shadow: 10px 11px 101px 13px rgba(115,205,255,0.75);
    border-radius: 3rem;
}
.courses-thumbnail-container, .projects-thumbnail-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
@media screen and (max-width:640px){
    .nav-links{
        position: absolute;
        display: none;
        padding-left: 2rem;
        padding-top: 3rem;
        left: 0;
        top: 9.6vh;
        height: 90.4vh;
        flex-direction: column;
        background-color: #ACE1FF;
        max-width: 400px;
        width: 100%;
        gap: 2rem; 
    }
}
@media screen and (max-width:780px){
    .courses-thumbnail-container, .projects-thumbnail-container{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}
@media screen and (max-width:850px){
    .signed-out-navbar-button-container{
        display: none;
    } 
}